body {
   transition: 0.5s background-color;
}
.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.scroll {
    …
   display: none;
}
html {
  scroll-behavior: smooth;
}
